[submodule "w4d5/staking/lib/forge-std"]
	path = w4d5/staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d5/staking/lib/openzeppelin-contracts"]
	path = w4d5/staking/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4d5-ref/stakeRNT/lib/openzeppelin-contracts"]
	path = w4d5-ref/stakeRNT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w5d2/slot/lib/forge-std"]
	path = w5d2/slot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w5d3/InscriptionFactoryV2/lib/forge-std"]
	path = w5d3/InscriptionFactoryV2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w5d3/InscriptionFactoryV2/lib/openzeppelin-contracts"]
	path = w5d3/InscriptionFactoryV2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w5d5/ctf/lib/forge-std"]
	path = w5d5/ctf/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w6d1/automation/lib/forge-std"]
	path = w6d1/automation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w6d1/automation/lib/chainlink-brownie-contracts"]
	path = w6d1/automation/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "w6d3/myDex/lib/forge-std"]
	path = w6d3/myDex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w6d3/myDex/lib/v2-core"]
	path = w6d3/myDex/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "w6d3/myDex/lib/v2-periphery"]
	path = w6d3/myDex/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
